body{
    background: linear-gradient(to right, lightblue,
    whitesmoke, lightblue);
}
 
.all{
    text-align: center;
    margin-top: 25%;
}
 
.a{
    background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
    background-color: red;
    border: 2px solid white;
    border-radius: 12px;
    box-shadow: 1px 1px 1px black;
    color: white;
  text-shadow: 2px 2px 4px #000000;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    border-radius: 50%;
    animation: bounce .9s  ease  infinite;
}
 
.a:nth-child(1){
    background: #F46036;
}
.a:nth-child(2){
    background: #00A6A6;
    animation-delay: .15s;
}
.a:nth-child(3){
    background: #E5D942;
    animation-delay: .25s;
}
.a:nth-child(4){
    background: #2F427A;
    animation-delay: .35s;
}
.a:nth-child(5){
    background: #FFB6C1;
    animation-delay: .55s;
}
.a:nth-child(6){
    background: #90EE90;
    animation-delay: .75s;
}


 
 
@keyframes bounce{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-155px);
    }
    100%{
        transform: translateY(0);
    }
}